*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#070b18;
overflow:hidden;
color:#fff;

}

.bg{

position:fixed;
width:100%;
height:100%;

background:
radial-gradient(circle at 20% 20%,#ff008088 0%,transparent 35%),
radial-gradient(circle at 80% 30%,#00d4ff88 0%,transparent 35%),
radial-gradient(circle at 50% 80%,#8a2be288 0%,transparent 35%),
#050816;

animation:bgMove 12s infinite alternate;

}

@keyframes bgMove{

0%{

transform:scale(1) rotate(0deg);

}

100%{

transform:scale(1.2) rotate(8deg);

}

}

.intro{

position:fixed;
width:100%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
backdrop-filter:blur(12px);
z-index:10;

}

.logo{

text-align:center;

}

.circle{

width:120px;
height:120px;
margin:auto;
border-radius:50%;

background:linear-gradient(135deg,#ff0080,#7a5cff,#00d4ff);

box-shadow:

0 0 40px #00d4ff,

0 0 80px #7a5cff;

margin-bottom:25px;

animation:spin 8s linear infinite;

}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}

.logo h1{

font-size:38px;
font-weight:700;

margin-bottom:5px;

}

.logo p{

opacity:.7;

margin-bottom:30px;

}

#openBtn{

width:180px;
height:55px;

border:none;

border-radius:40px;

font-size:18px;

font-weight:700;

cursor:pointer;

background:linear-gradient(90deg,#ff0080,#7a5cff,#00d4ff);

color:white;

box-shadow:0 0 25px #7a5cff;

transition:.35s;

}

#openBtn:hover{

transform:scale(1.08);

}

.container{

display:none;

justify-content:center;

align-items:center;

height:100vh;

padding:20px;

}

.glass{

width:100%;
max-width:420px;

padding:28px;

border-radius:30px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(25px);

border:1px solid rgba(255,255,255,.15);

box-shadow:

0 15px 40px rgba(0,0,0,.45);

}

.profile{

text-align:center;

margin-bottom:30px;

}

.avatar{

width:90px;
height:90px;

margin:auto;

border-radius:50%;

background:linear-gradient(135deg,#ff0080,#7a5cff,#00d4ff);

display:flex;

justify-content:center;

align-items:center;

font-size:40px;

margin-bottom:15px;

}

.profile span{

opacity:.7;

}

.card{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px;

border-radius:20px;

margin:18px 0;

background:rgba(255,255,255,.08);

transition:.35s;

}

.card:hover{

transform:translateY(-4px);

}

.left{

display:flex;

align-items:center;

gap:15px;

}

.left i{

font-size:32px;

}

.instagram i{

color:#ff2f92;

}

.whatsapp i{

color:#25D366;

}

.tiktok i{

color:#fff;

text-shadow:

2px 2px #ff0050,

-2px -2px #00f2ff;

}

button{

width:90px;

height:42px;

border:none;

border-radius:12px;

background:#000;

color:#fff;

font-weight:700;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#111;

transform:scale(1.05);

}
